FreeRTOS_Initial/Debug/
FreeRTOS_Initial/.launches/
FreeRTOS_Initial/.settings/
FreeRTOS_Initial/.ccsproject
FreeRTOS_Initial/.cproject
FreeRTOS_Initial/.project
FreeRTOS_Initial/targetConfigs/
/.metadata/

.jxbrowser-data/